
<div class=" py-8 px-4 lg:py-16 lg:px-6">
    <div class="text-center mb-10">
        <h2 class="text-4xl tracking-tight font-bold text-black  decoration-yellow-500 pb-4">
            Festival puja
        </h2>
        <img src="assets/Services-image/main.jpg" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full h-[240px]  sm:h-[200px] sm:mb-0 xl:mb-6 xl:w-full xl:h-[240px] object-cover">
    </div>

    <div class="flex flex-col md:flex-row">
        <!-- end can help image -->
        <div class="flex-1 flex flex-col sm:flex-row flex-wrap -mb-4 -mx-2">
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Benefits of festival puja</h3>
                    <p class="text-sm">Festivals are part of Hindu culture celebrating joy and happiness worshiping our gods
                        performing different puja paths, spreading happiness, and enjoying lights and colors.</p>
                </div>
            </div>
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Benefits of festival puja</h3>
                    <p class="text-sm">Gaining a positive, clear mind reduces negative positive energies, and cultural happiness
                        enhances and strengthens traditions.</p>
                </div>
            </div>
        
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Our pandits </h3>
                    <p class="text-sm">We are one of the best pandit booking services always service on time
                        always pandit come on time and perform.</p>
                </div>
            </div>
        
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Secure Booking and Payment</h3>
                    <p class="text-sm">We ensure a safe and secure platform for booking Pandit services and ordering spiritual items, with strict protection of your information.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>


<!-- inspired by tailwindcss.com -->
<ul class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8">
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold">
                <span class="mb-1 block text-sm leading-6 text-indigo-500">Marriage, wedding puja</span>Common puja and vidhi are performed in Hindu marriages.
            </h3>
            <div class="prose prose-slate prose-sm text-slate-600">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Ganesh puja</span>
                </h3>
                <p>It gives a shubharambh to worship Lord Ganesh for the blessing of Lord Ganesh and to remove
                    hurdles for the future.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Kalash sthapana and navgrah puja</span>
                </h3>
                <p>For hurdle, tackle invoke nine planets for positivity established Kalash and perform puja for nine
                    planets.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Kanyadaan</span>
                </h3>
                <p>This is the most sacred ritual, in which the parent gives the daughter&#39;s hand to the groom while
                    chanting a mantra, while the father provides a hand to the groom.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Vivah havan</span>
                </h3>
                <p>To seek the blessing of the agni devta couple walks around the sacred fire and takes 7 vows
                    pheras pandit chanting the mantra during pheras.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Mangalsutra and Sindur ceremony</span>
                </h3>
                <p>The groom ties the mangal sutra to the bride&#39;s neck and applies sindoor to her forehead maang</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Ashirwad and vidai</span>
                </h3>
                <p>The couple touches the elder&#39;s and parents&#39; feet and takes blessings vidai the emotional part of
                    the ceremony, where the daughter goes with the groom. Everyone is emotional in this
                    ceremony.</p>
                    <h3 class="mb-1 text-slate-900 font-semibold">
                        <span class="mb-1 block text-sm leading-6 text-indigo-500">Different regions have different types of rituals, and we covered all kinds of
                            marriage puja for various types of areas.</span>
                    </h3>
            </div>
        </div>
        <img src="assets/Services-image/marriage.png" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
    </li>
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold">
                <span class="mb-1 block text-sm leading-6 text-purple-500">Grihapravesh puja</span>Cleansing the home to remove all negativity and seeking blessing from gods ensuring protection
                from bad energies.
            </h3>
            <div class="prose prose-slate prose-sm text-slate-600">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-purple-500">Types of grihpravesh</span>
                </h3>
                <p>Apoorva Grihpravesh: for moving into a completely new home
                    Sapoorva grihpravesh: puja after renovation and repair
                    Dwandwah grihpravesh: moving back home after any bad event</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-purple-500">Puja for grihpravesh</span>
                </h3>
                <p>Ganesh puja, navgraha puja, Kalash sthapana, havan, milk boiling ritual, pravesh entering into
                    the house, Vastu shanti</p>
                    <h3 class="mb-1 text-slate-900 font-semibold">
                        <span class="mb-1 block text-sm leading-6 text-purple-500">Benefits of grihpravesh puja: removes negativity and gives positivity</span>
                    </h3>
            </div>
        </div>
        <img src="assets/Services-image/grahpravesh.png" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
    </li>
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold">
                <span class="mb-1 block text-sm leading-6 text-cyan-500">Satyanarayan Katha</span>
            </h3>
            <div class="prose prose-slate prose-sm text-slate-600">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-cyan-500">Benefits</span>
                </h3>
                <p>For seeking lord Vishnu&#39;s blessing for success in life and positivity and for fulfilling wishes
                    It is good for family members and brings happiness.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-cyan-500">When perform</span>
                </h3>
                <p>On full moon days purnima, Ekadashi, Sankranti, weddings, birthdays, and any special
                    occasions</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-cyan-500">Puja vidhi</span>
                </h3>
                <p>sankalp , ganesh puja, kalash sthapana, vishnu puja, satyanarayan katha, havan, aarti, prasad
                    vitran,</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-cyan-500">Items need (saman)</span>
                </h3>
                <p>Lord Vishnu picture, Kalash, tulsi leaves, fruits, flowers, panchamrit, sweets, puja thali, diya,
                    Kapoor, matchbox, havan samgri, ghee.</p>
            </div>
        </div>
        <img src="assets/Services-image/satynarayan.png" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
    </li>
</ul>


<!-- inspired by tailwindcss.com -->
<ul class="grid grid-cols-1 xl:grid-cols-3 gap-y-10 gap-x-6 items-start p-8">
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold">
                <span class="mb-1 block text-sm leading-6 text-indigo-500">Shradh and pitra puja</span>It is a Hindu ritual performed during the pitra paks and punyatithi for our departed ancestors&#39;
                purvaj.During this time, the souls of our ancestors come to the earth, and by performing shradh
                puja, they give their blessing, and we ensure their moksha peace.
            </h3>
            <div class="prose prose-slate prose-sm text-slate-600">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Benefit</span>
                </h3>
                <p>Poorvaj mooksh(ancestor peace), family positivity, growth.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Puja date time</span>
                </h3>
                <p>Our ancestor passed away on the 15th day of the sacred Pitra Paksha in the Hindu month of
                    Bhadrapada, which is their tithi.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Puja vidhi</span>
                </h3>
                <p>Sankalp, remember ancestors, pinda daan, tarpan, havan, feeding brahmins and cows, dogs,
                    crow, offering food to poorvaj,</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Samagri items</span>
                </h3>
                <p>Kala til, jwar, chawal, kusha, pinada, flowers, fruits, matchbox, havan samagri, ghee, kapoor,
                    firewood, cloths, diya, etc.</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-indigo-500">Guideline</span>
                </h3>
                <p>Avoid any kind of celebration new venture subh kaam.</p>
            </div>
        </div>
        <img src="assets/Services-image/shradhha.png" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
    </li>
    <li class="relative flex flex-col sm:flex-row xl:flex-col items-start">
        <div class="order-1 sm:ml-6 xl:ml-0">
            <h3 class="mb-1 text-slate-900 font-semibold">
                <span class="mb-1 block text-sm leading-6 text-purple-500">Navgrah puja</span>Powerful Hindu ritual offering puja to navgrah nine celestial planets to growth and positivity for
                improving relationship, finance, health, etc. for overall well-being
            </h3>
            <div class="prose prose-slate prose-sm text-slate-600">
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-purple-500">Benefits</span>
                </h3>
                <p>Removes the planet&#39;s negative effects, gives success and happiness improves career overall
                    growth and health</p>
                <h3 class="mb-1 text-slate-900 font-semibold">
                    <span class="mb-1 block text-sm leading-6 text-purple-500">Puja vidhi</span>
                </h3>
                <p>Preparation, Ganesh puja, Sankalp, invoke navgrahas, all planet worship grah puja (sun, moon,
                    mars, mercury, Jupiter, venus, Saturn, rahu, ketu), havan for navgrah, aatri and prasad.</p>
                 
            </div>
        </div>
        <img src="assets/Services-image/navgrah.jpg" alt="" class="mb-6 shadow-md rounded-lg bg-slate-50 w-full sm:w-[17rem] sm:mb-0 xl:mb-6 xl:w-full" width="1216" height="640">
    </li>
   
</ul>



