
<div class="max-w-screen-xl mx-auto py-8 px-4 lg:py-16 lg:px-6">
    <div class="text-center mb-10">
        <h2 class="text-4xl tracking-tight font-bold text-[#B9770E]  decoration-yellow-500">
            Temple Highlights
        </h2>
        
    </div>

    <div class="flex flex-col md:flex-row">
        <!-- can help image -->
        <div class="mr-0 md:mr-8 mb-6 md:mb-0">
            <img class="w-1/2 md:w-full mx-auto" src="assets/Ourservices/service1Image.jpeg" alt="can_help_banner">
        </div>
        <!-- end can help image -->
        <div class="flex-1 flex flex-col sm:flex-row flex-wrap -mb-4 -mx-2">
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Sacred Texts Delivery</h3>
                    <p class="text-sm">Receive holy texts and scriptures directly at your doorstep, carefully selected for enhancing spiritual knowledge and well-being.</p>
                </div>
            </div>
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Genuine Rudraksha Collection</h3>
                    <p class="text-sm">Our collection includes authentic Rudraksha beads, selected for their spiritual and healing properties, to support your spiritual journey.</p>
                </div>
            </div>
        
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Guided Puja Services</h3>
                    <p class="text-sm">Expert Pandit services for performing traditional Pujas and rituals, available to guide you through each step, bringing peace and positivity into your home.</p>
                </div>
            </div>
        
            <div class="w-full sm:w-1/2 mb-4 px-2 ">
                <div class="h-full py-4 px-6 border border-orange-600 border-t-0 border-l-0 rounded-br-xl">
                    <h3 class="text-lg font-bold text-md mb-6">Secure Booking and Payment</h3>
                    <p class="text-sm">We ensure a safe and secure platform for booking Pandit services and ordering spiritual items, with strict protection of your information.</p>
                </div>
            </div>
        </div>
        
    </div>
</div>
