<!-- Text and Phone Number Overlay -->
<div class="bg-yellow-100 p-4 sm:p-6 md:p-8 rounded-lg text-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-black mb-4">
        Book Online Pandit Ji 
    </h1>
  
    <p class="text-xs sm:text-sm md:text-base text-black font-semibold mb-4 sm:mb-6">
        Pooja Path Online Services
Need a pandit for your special rituals? Whether it's for a puja, wedding, havan, jaap, katha, Grihpravesh, or any other ceremony, you can easily book experienced pandits online.
    </p>
  
    <span id="phone-number" class="text-2xl font-bold text-black">
      Call us: 
      <a href="tel:+919555867871" 
         class="text-red-800 hover:text-black  hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
        +91 9555867871
      </a>
    </span>    
  </div>
  