<!-- Text and Phone Number Overlay -->
<div class="bg-yellow-100 p-4 sm:p-6 md:p-8 rounded-lg text-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold text-black mb-4">
        Book Online Pandit Ji 
    </h1>
  
    <p class="text-xs sm:text-sm md:text-base text-black font-semibold mb-4 sm:mb-6">
        Pooja Path Online Services
Need a pandit for your special rituals? Whether it's for a puja, wedding, havan, jaap, katha, Grihpravesh, or any other ceremony, you can easily book experienced pandits online. Our pandits are skilled and will perform the rituals according to your customs and traditions. Enjoy hassle-free services at your home, anywhere in your city. Book today for a smooth and stress-free experience!
      Book Pandit, Pandit for Puja, Pandit for Katha, Pandit for Jaap, Pandit for Sanskar, 
      Online Pandit Booking, Pandit Services, Pandit Near Me, Hindu Pandit, Pandit for Marriage, 
      Pandit for Havan, Puja Booking Online, Pandit for Griha Pravesh, Book Pandit Online in 
      any city , Puja Pandit in your city, Puja Services Online, Pandit for Religious Ceremonies, 
      and Pandit for House Puja.
    </p>
  
    <span id="phone-number" class="text-xl sm:text-xl md:text-base font-semibold text-black">
      Call us: <a href="tel:+917905639729" class="text-yellow-500 hover:text-yellow-400 font-bold text-2xl">+91 79056 39729</a>
    </span>
  </div>
  