<div class="container">
    <div class="card basic" data-aos="fade-up">
      <div class="icon">🔹</div>
      <div class="title">Basic Plan</div>
      <div class="price">$10/mo</div>
      <ul class="features">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
      </ul>
      <button class="button">Sign Up</button>
    </div>
    <div class="card free" data-aos="fade-up" data-aos-delay="100">
      <div class="icon">🔸</div>
      <div class="title">Free Plan</div>
      <div class="price">$0/mo</div>
      <ul class="features">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
      </ul>
      <button class="button">Sign Up</button>
    </div>
    <div class="card premium" data-aos="fade-up" data-aos-delay="200">
      <div class="icon">🔷</div>
      <div class="title">Premium Plan</div>
      <div class="price">$30/mo</div>
      <ul class="features">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
      </ul>
      <button class="button">Sign Up</button>
    </div>
  </div>

 