
<div class="flex flex-col items-center p-4">
    <h1 class="text-3xl font-bold text-red-900 mb-4 animate-tilt">
      Book Pandit for Bangalore  <span class="text-red-900"><a href="tel:9555867871" 
        class="text-red-900 bg-transparent hover:bg-yellow-400 hover:text-black px-1 rounded transition duration-300">
       9555867871
     </a></span>
    </h1>
</div>
  

<div class="grid grid-cols-1 sm:grid-cols-3 gap-4 p-4">
  <!-- Card 1 -->
  <div class="bg-white p-4 rounded-lg shadow-lg">
    <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy"
      class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
    <div class="mt-4">
      <p class="text-lg font-semibold bg-red-300 text-black ">Marriage</p>

      <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
        class="text-black ">
       Call us 9555867871
     </a></p>
      <p class="mt-2 text-gray-700">
        Searching for <span class="font-semibold animate-tilt bg-yellow-300 p-1">Pandits in Bangalore</span> to conduct your sacred marriage rituals? Hindu marriages are not just ceremonies; they are profound spiritual events that unite families and invite blessings of love, harmony, and prosperity. From the vibrant pre-wedding rituals to the heartfelt main ceremony and cherished post-wedding customs, our skilled Pandits ensure that every aspect is performed according to Vedic traditions. With years of experience, we offer seamless services that allow you to focus on celebrating your love. Make your special day unforgettable by embracing the spiritual significance of marriage. Book a certified Pandit in Bangalore today for an enchanting wedding ceremony filled with divine blessings and joyful moments!
    </p>    
    </div>
  </div>

  <!-- Card 2 -->
  <div class="bg-white p-4 rounded-lg shadow-lg">
    <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy"
      class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
      <div class="mt-4">
        <p class="text-lg font-semibold bg-red-300 text-black ">Annaprashan Puja</p>
        <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
          class="text-black ">
         Call us 9555867871
       </a></p>
        <p class="mt-2 text-gray-700">
          Searching for <span class="font-semibold animate-tilt bg-yellow-300 p-1">Pandits in Bangalore</span> to perform the sacred <strong>Annaprashan Puja</strong>? This important Hindu ceremony marks your baby's first introduction to solid food, symbolizing nourishment, growth, and divine blessings. Our experienced Pandits specialize in conducting <strong>Annaprashan Puja</strong> with authentic rituals, ensuring every aspect is performed according to Vedic traditions. From personalized pooja to chanting sacred mantras, we provide hassle-free services tailored to your family's needs. Celebrate this joyous occasion with spiritual significance and invite blessings for your child's future. Book a certified Pandit in Bangalore today for a memorable <strong>Annaprashan Puja</strong> that fulfills your religious and cultural obligations!
      </p> 
      </div>
  </div>

  <!-- Card 3 -->
  <div class="bg-white p-4 rounded-lg shadow-lg">
    <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy"
      class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
      <div class="mt-4">
        <p class="text-lg font-semibold bg-red-300 text-black ">Bhoomi Puja</p>

        <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
          class="text-black ">
         Call us 9555867871
       </a></p>
        <p class="mt-2 text-gray-700">
          Are you looking for <span class="font-semibold animate-tilt bg-yellow-300 p-1">Pandits in Bangalore</span> to perform a meaningful <strong>Bhoomi Puja</strong>? This auspicious Hindu ceremony marks the beginning of any construction project, signifying respect for the land and inviting divine blessings for success and prosperity. Our skilled Pandits are dedicated to providing authentic <strong>Bhoomi Puja</strong> services, ensuring that each ritual is conducted with utmost precision and in accordance with Vedic traditions. With personalized prayers and sacred mantras, we create a spiritually enriching experience that sets a positive foundation for your new endeavor. Start your construction journey with faith and positivity—book a certified Pandit in Bangalore today for a transformative <strong>Bhoomi Puja</strong> that honors your cultural and spiritual heritage!
      </p>      
      </div>
  </div>
  <!-- Card 4 -->
  <div class="bg-white p-4 rounded-lg shadow-lg">
    <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy"
      class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
    <div class="mt-4">
      <p class="text-lg font-semibold bg-red-300 text-black ">Brihaspati Vrat Udypan Puja</p>
      <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
        class="text-black ">
       Call us 9555867871
     </a></p>
      <p class="mt-2 text-gray-700">
        Looking to engage <span class="font-semibold">Pandits in Bangalore</span> for the revered <strong>Brihaspati Vrat Udypan Puja</strong>? This important Hindu ritual honors Lord Brihaspati, the deity associated with wisdom and prosperity, and is believed to enhance spiritual growth. Our knowledgeable Pandits specialize in executing this sacred puja, meticulously following Vedic traditions to ensure each mantra and offering is performed with care. The <strong>Brihaspati Vrat Udypan Puja</strong> not only strengthens your spiritual bond but also cultivates an atmosphere of positivity and abundance. Enjoy a seamless experience tailored to your requirements and embrace this significant occasion with divine blessings. Reach out to book a certified Pandit in Bangalore today and open the door to wisdom and prosperity in your life!
    </p>    
    </div>
  </div>
  <!-- Card 5 -->
  <div class="bg-white p-4 rounded-lg shadow-lg">
    <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy"
      class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
    <div class="mt-4">
      <p class="text-lg font-semibold bg-red-300 text-black ">Durga Puja</p>
      <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
        class="text-black ">
       Call us 9555867871
     </a></p>
      <p class="mt-2 text-gray-700">
        Seeking expert <span class="font-semibold">Pandits in Bangalore</span> to conduct the revered <strong>Durga Pooja</strong>? This powerful Hindu festival celebrates the divine feminine energy and marks the victory of good over evil. Our seasoned Pandits are skilled in performing the intricate rituals associated with <strong>Durga Pooja</strong>, ensuring each ceremony is carried out in accordance with Vedic traditions. This sacred observance not only enhances spiritual well-being but also fosters a sense of community and devotion. Experience a hassle-free service that honors the essence of this auspicious occasion. Contact us today to book a certified Pandit in Bangalore and invite the blessings of Goddess Durga into your home for a transformative celebration!
    </p>    
    </div>
  </div>
  <!-- Card 6 -->
  <div class="bg-white p-4 rounded-lg shadow-lg">
    <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy"
      class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
    <div class="mt-4">
      <p class="text-lg font-semibold bg-red-300 text-black ">Ekadasi Vrat Udyapan Puja</p>
      <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
        class="text-black ">
       Call us 9555867871
     </a></p>
      <p class="mt-2 text-gray-700">
        Interested in finding skilled <span class="font-semibold">Pandits in Bangalore</span> for the auspicious <strong>Ekadasi Vrat Udyapan Puja</strong>? This sacred ritual marks the conclusion of the Ekadasi fast, dedicated to Lord Vishnu, and is believed to bring blessings, prosperity, and spiritual upliftment. Our experienced Pandits are well-versed in performing the <strong>Ekadasi Vrat Udyapan Puja</strong>, ensuring that every mantra and offering is made with devotion and precision according to Vedic traditions. This powerful ceremony not only enhances your spiritual connection but also brings peace and abundance to your home. Enjoy a seamless and respectful service tailored to your needs. Contact us today to book a certified Pandit in Bangalore and complete your Ekadasi observance with divine grace and blessings!
    </p>    
    </div>
  </div>
</div>


