
<div class="flex flex-col items-center p-4">
  <h1 class="text-3xl font-bold text-red-900 mb-4 animate-tilt">
    Book Pandit for Mumbai  <span class="text-red-900"><a href="tel:9555867871" 
      class="text-red-900 bg-transparent hover:bg-yellow-400 hover:text-black px-1 rounded transition duration-300">
     9555867871
   </a></span>
  </h1>
</div>


<div class="grid grid-cols-1 sm:grid-cols-3 gap-4 p-4">
<!-- Card 1 -->
<div class="bg-white p-4 rounded-lg shadow-lg">
  <img ngOptimizedImage
    src="assets/banglore/ban-6.jpg"
    alt="Description of image"
    loading="lazy"
    class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
  <div class="mt-4">
    <p class="text-lg font-semibold bg-red-300 text-black ">Pandit for puja in Bandra</p>

    <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
      class="text-black ">
     Call us 9555867871
   </a></p>
    <p class="mt-2 text-gray-700">
     Book Pandit for puja in <span class="font-semibold animate-tilt bg-yellow-300 p-1">Bandra Mumbai</span> &#39;s trusted well well-trained Pandit for puja
      performs a quality puja path with perfect vidhi vidhan and also charges very low prices for
      services.
  </p>    
  </div>
</div>

<!-- Card 2 -->
<div class="bg-white p-4 rounded-lg shadow-lg">
  <img ngOptimizedImage
    src="assets/banglore/ban-5.jpg"
    alt="Description of image"
    loading="lazy"
    class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
    <div class="mt-4">
      <p class="text-lg font-semibold bg-red-300 text-black ">Pandit for puja in Powai</p>
      <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
        class="text-black ">
       Call us 9555867871
     </a></p>
      <p class="mt-2 text-gray-700">
        Book your pandit for puja in <span class="font-semibold animate-tilt bg-yellow-300 p-1"> Powai Mumbai</span>  best pandits for puja paths Graha Pravesh,
        marriage, nankaran, satyanaran katha, havan, Jaap, etc we cover all kinds of puja paths in your
        city with trained and professional pandits.
    </p> 
    </div>
</div>

<!-- Card 3 -->
<div class="bg-white p-4 rounded-lg shadow-lg">
  <img ngOptimizedImage
    src="assets/banglore/ban-4.jpg"
    alt="Description of image"
    loading="lazy"
    class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
    <div class="mt-4">
      <p class="text-lg font-semibold bg-red-300 text-black ">Pandit for puja in Juhu</p>

      <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
        class="text-black ">
       Call us 9555867871
     </a></p>
      <p class="mt-2 text-gray-700">
        Book online pandit for puja in <span class="font-semibold animate-tilt bg-yellow-300 p-1">Juhu Mumbai</span> all book pandit for any kind of puja
connect with us for your spiritual journey book pandit for puja at a very low price with well-
trained pandits who have good knowledge about any kind of puja path and perform puja path
with perfect vidhi vidhan.
    </p>      
    </div>
</div>
<!-- Card 4 -->
<div class="bg-white p-4 rounded-lg shadow-lg">
  <img ngOptimizedImage
    src="assets/banglore/ban-3.jpg"
    alt="Description of image"
    loading="lazy"
    class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
  <div class="mt-4">
    <p class="text-lg font-semibold bg-red-300 text-black ">Pandit for puja in Navi mumbai</p>
    <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
      class="text-black ">
     Call us 9555867871
   </a></p>
    <p class="mt-2 text-gray-700">
      For weddings, Graha Pravesh, Satya Narayan Katha, havan, jaap, festival puja, mahatrityunjay
        jaap, any kind of puja book online pandit from <span class="font-semibold animate-tilt bg-yellow-300 p-1">MEANDMYPANDIT.COM</span> book pandit for puja in
        Navi mumbai Mumbai.
  </p>    
  </div>
</div>
<!-- Card 5 -->
<div class="bg-white p-4 rounded-lg shadow-lg">
  <img ngOptimizedImage
    src="assets/banglore/ban-2.jpg"
    alt="Description of image"
    loading="lazy"
    class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
  <div class="mt-4">
    <p class="text-lg font-semibold bg-red-300 text-black ">Pandit for puja in Andheri</p>
    <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
      class="text-black ">
     Call us 9555867871
   </a></p>
    <p class="mt-2 text-gray-700">
      Book pandit for puja in <span class="font-semibold animate-tilt bg-yellow-300 p-1">Andheri Mumbai</span> we provide pandit services at your doorstep we
      have well-trained and highly educated pandits for puja who perform any kind of puja pata in
      Andheri Mumbai.
  </p>    
  </div>
</div>
<!-- Card 6 -->
<div class="bg-white p-4 rounded-lg shadow-lg">
  <img ngOptimizedImage
    src="assets/banglore/ban-1.jpg"
    alt="Description of image"
    loading="lazy"
    class="w-full h-48 sm:h-64 object-cover rounded-t-lg">
  <div class="mt-4">
    <p class="text-lg font-semibold bg-red-300 text-black ">South mumbai Mumbai</p>
    <p class="text-lg font-semibold  text-black bg-yellow-300 animate-bounce mt-3"> <a href="tel:9555867871" 
      class="text-black ">
     Call us 9555867871
   </a></p>
    <p class="mt-2 text-gray-700">
      Book online Pandit in <strong>Mumbai</strong> with MEANDMYPANDI.COM provides puja path service on
      your doorstep we provide well-trained and quality Pandits in Mumbai at very reasonable
      prices.
  </p>    
  </div>
</div>
</div>


