$primary-color: #ffffff;
$background-image: url('/assets/homeImages/background-4.jpeg');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

.container {
 
  height: 100%; // Full height of viewport
  background-image: $background-image;
  background-size: cover; // Ensure image covers the entire container
  background-repeat: no-repeat; // Prevent tiling of the background image
  background-position: center; // Center the image
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .content {
    background-color: rgba(0, 0, 0, 0.6); // Semi-transparent overlay
    border-radius: 10px;
    color: $primary-color;
    padding: 20px;
    text-align: center;


    h1 {
      font-size: 1.5rem; // Default for small devices
      margin-bottom: 10px;

      @media (min-width: 768px) {
        font-size: 2rem; // Medium devices
      }

      @media (min-width: 1024px) {
        font-size: 2.5rem; // Large devices
      }
    }

    p {
      font-size: 0.875rem; // Small devices
      line-height: 1.5;

      @media (min-width: 768px) {
        font-size: 1rem; // Medium devices
      }

      @media (min-width: 1024px) {
        font-size: 1.2rem; // Large devices
      }
    }
  }
}
