<div class="banner relative" data-aos="flip-right" data-aos-duration="3000">
  <!-- Image -->
  <img ngOptimizedImage
       src="assets/homeImages/lotus.jpg"
       alt="Pooja Path Online Services"
       loading="lazy"
       class="w-full max-h-screen h-auto object-cover">

  <!-- Text and Phone Number Overlay -->
  <div class="absolute inset-0 flex flex-col items-center justify-center text-center bg-black bg-opacity-50 p-4 md:p-8">
    <h1 class="text-xl sm:text-2xl md:text-4xl font-bold text-white mb-2 sm:mb-4">Pooja Path Online Services</h1>

    <p class="text-sm sm:text-lg md:text-xl text-white font-semibold mb-4 sm:mb-6">
      Book Pandit, Pandit for Puja, Pandit for Katha, Pandit for Jaap, Pandit for Sanskar, 
      Online Pandit Booking, Pandit Services, Pandit Near Me, Hindu Pandit, Pandit for Marriage, 
      Pandit for Havan, Puja Booking Online, Pandit for Griha Pravesh, Book Pandit Online in 
      [City Name], Puja Pandit in [City Name], Puja Services Online, Pandit for Religious Ceremonies, 
      and Pandit for House Puja. 
    </p>

    <span class="text-sm sm:text-lg md:text-xl font-semibold text-white">
      Call us: <a href="tel:+917905639729" class="text-yellow-400 hover:text-yellow-300">+91 79056 39729</a>
    </span>
  </div>
</div>





  
    <app-benefits/>
    <app-our-work/>
    <!-- <app-sanskar/> -->
    <app-temple/>
    <app-what-we-offer-services/>
    <app-subscription/>



  
