<div class="container">
    <!-- <div class="card" data-aos="flip-up"> -->
    <div class="card" >
        <h1 class="text-2xl font-bold">A Path to Inner Peace</h1>
        <p>As a priest dedicated to offering pooja path services, I strive to bring peace and spiritual well-being to those seeking divine connection. Pooja is a sacred ritual that helps cleanse the mind and soul, inviting positive energy and tranquility into our lives. It is more than just a tradition; it strengthens our relationship with the divine, fosters inner peace, and brings balance to our thoughts and emotions.</p>
    </div>
    <div class="card" >
        <img ngOptimizedImage src="assets/homeImages/1stImage.jpeg" alt="Description of image" loading="lazy" class="imageeffect">
        <span id="phone-number" class="text-2xl pt-4 font-bold text-black">
            Call us: 
            <a href="tel:+919555867871" 
               class="text-red-800 hover:text-black  hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
              +91 9555867871
            </a>
          </span>    
    </div>
</div>

<div class="container">
    <div class="card" >
        <img ngOptimizedImage src="assets/homeImages/2ndImage.jpeg" alt="Description of image" loading="lazy" class="imageeffect">
        <span id="phone-number" class="text-2xl pt-4 font-bold text-black">
            Call us: 
            <a href="tel:+919555867871" 
               class="text-red-800 hover:text-black  hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
              +91 9555867871
            </a>
          </span>    
    </div>
    <div class="card" >
        <h1 class="text-2xl font-bold">Sacred Practices of Temple Worship: Rituals, Pooja, and Divine Connection</h1>
        <p class="pt-2">Temple worship is a sacred practice in Hinduism, symbolizing devotion and connection to the divine. Visiting a temple involves purification of the mind and body, often through bathing and wearing clean clothes. Devotees remove their shoes before entering the temple as a sign of respect.

            Inside the temple, the devotee offers prayers and performs rituals, often lighting lamps, offering flowers, and chanting mantras. The central focus is on the deity's idol, where one can offer fruits, sweets, and milk as part of the pooja (ritual worship). Priests guide the rituals, offering blessings and distributing prasadam (blessed food).
            </p>
           
    </div>
   
</div>

<div class="container">
    <div class="card" >
        <h1 class="text-2xl font-bold">Spiritual Significance and Benefits of Temple Worship in Sanatan Dharma</h1>
        <p>Sanatan Dharma, often referred to as the eternal religion, is rooted in ancient Hindu practices. Temple worship, or mandir vedi, plays a vital role in connecting devotees with the divine. The rituals, including offerings, prayers, and mantras, purify the mind and soul, fostering spiritual growth.</p>
    </div>
    <div class="card" >
        <img ngOptimizedImage src="assets/homeImages/3rdImage.jpeg" alt="Description of image" loading="lazy" class="imageeffect">
        <span id="phone-number" class="text-2xl pt-4 font-bold text-black">
            Call us: 
            <a href="tel:+919555867871" 
               class="text-red-800 hover:text-black  hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
              +91 9555867871
            </a>
          </span>    
    </div>
</div>