.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    max-width: 1200px;
    margin: 30px auto;
}

.card {
    padding: 1rem;
    border-radius: 10px;
    background: rgb(255, 255, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 30px;
    }
}


/* Screen larger than 600px? 2 columns */
@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card-hover {
    transition: background-color 0.8s ease; /* Smooth transition for background color */
}

.card-hover:hover {
    background-color: rgba(255, 0, 0, 0.3); /* Transparent orange color */
    cursor: pointer; /* Change cursor to pointer */
}

.card-hover2 {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-hover2:hover {
    background-color: rgba(0, 0, 255, 0.2); /* Transparent blue color */
    cursor: pointer;
    transform: scale(1.05); /* Slight zoom effect on hover */
}
