



<div class="cards">
    <div class="card" data-aos="flip-up">
      <h1>Card 1</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ullam, tenetur iste exercitationem corrupti laboriosam placeat hic nobis aperiam. Fugiat quos commodi consectetur accusantium perferendis excepturi culpa, in, placeat debitis tempora sed reprehenderit doloribus. Maiores rem nemo dignissimos, suscipit inventore molestias ea quia veritatis iusto? Tempore molestias dolorum veritatis in.</p>
    </div>
    <div class="card" data-aos="flip-up">
      <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy">
    </div>
    <div class="card" data-aos="flip-up">
      <h1>Card 3</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ullam, tenetur iste exercitationem corrupti laboriosam placeat hic nobis aperiam. Fugiat quos commodi consectetur accusantium perferendis excepturi culpa, in, placeat debitis tempora sed reprehenderit doloribus. Maiores rem nemo dignissimos, suscipit inventore molestias ea quia veritatis iusto? Tempore molestias dolorum veritatis in.</p>
    </div>
    <div class="card" data-aos="flip-up">
      <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy">
    </div>
    <div class="card" data-aos="flip-up">
      <h1>Card 5</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ullam, tenetur iste exercitationem corrupti laboriosam placeat hic nobis aperiam. Fugiat quos commodi consectetur accusantium perferendis excepturi culpa, in, placeat debitis tempora sed reprehenderit doloribus. Maiores rem nemo dignissimos, suscipit inventore molestias ea quia veritatis iusto? Tempore molestias dolorum veritatis in.</p>
    </div>
    <div class="card" data-aos="flip-up">
      <img ngOptimizedImage
      src="assets/homeImages/lotus.jpg"
      alt="Description of image"
      loading="lazy">
    </div>
    <div class="card" data-aos="flip-up">
      <h1>Card 7</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ullam, tenetur iste exercitationem corrupti laboriosam placeat hic nobis aperiam. Fugiat quos commodi consectetur accusantium perferendis excepturi culpa, in, placeat debitis tempora sed reprehenderit doloribus. Maiores rem nemo dignissimos, suscipit inventore molestias ea quia veritatis iusto? Tempore molestias dolorum veritatis in.</p>
    </div>
    <div class="card" data-aos="flip-up">
      <img ngOptimizedImage
         src="assets/homeImages/lotus.jpg"
         alt="Description of image"
         loading="lazy">
    </div>
    <div class="card" >
      <h1>Card 9</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit ullam, tenetur iste exercitationem corrupti laboriosam placeat hic nobis aperiam. Fugiat quos commodi consectetur accusantium perferendis excepturi culpa, in, placeat debitis tempora sed reprehenderit doloribus. Maiores rem nemo dignissimos, suscipit inventore molestias ea quia veritatis iusto? Tempore molestias dolorum veritatis in.</p>
    </div>
  </div>
  