



<div class="cards">
    <!-- <div class="card" data-aos="flip-up"> -->
    <div class="card">
      <h1 class="text-xl font-bold">Pandit Service in India | Book Online Pandit Ji for All Rituals</h1>
      <p>Looking for a trusted pandit service to perform your religious ceremonies? Now, you can easily book online pandit ji for any puja, havan, or special occasion, no matter where you are in India. We connect you with qualified and experienced pandits for puja, weddings, housewarming, and more. Whether it’s an Arya Samaj pandit service or traditional Vedic rituals, our pandits will guide you through every step with expertise and care.</p>
    </div>
    <div class="text-center card ">
      <img ngOptimizedImage
           src="assets/homeImages/app-templae-image-1.jpeg"
           alt="Description of image"
           loading="lazy"
           class="pt-4 rounded">
      <span id="phone-number" class="text-2xl font-bold text-black pt-4 block">
        Call us: 
        <a href="tel:+919555867871" 
           class="text-red-800 hover:text-black hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
          +91 9555867871
        </a>
      </span>  
    </div>
    
    <!-- <div class="card" > -->
    <div class="card" >
      <h1  class="text-xl font-bold">Pandit for Marriage</h1>
      <p>Finding a pandit for marriage has never been easier! We provide pandits for all types of weddings, including Shubh Vivah, Engagement ceremonies, and Arya Samaj weddings. Our pandits are experienced in handling different cultural practices, whether you need a Gujarati, Rajasthani, Marathi, Sindhi, Bihari, Bengali, or Punjabi pandit.</p>
    </div>
    <div class="card" >
      <img ngOptimizedImage
      src="assets/homeImages/homepooja.png"
      alt="Description of image"
      loading="lazy">
      <span id="phone-number" class="text-2xl font-bold text-black pt-4 block">
        Call us: 
        <a href="tel:+919555867871" 
           class="text-red-800 hover:text-black hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
          +91 9555867871
        </a>
      </span>  
    </div>
    <div class="card" >
      <h1  class="text-xl font-bold">Namkaran Sanskar (baby naming ceremony)</h1>
      <p>Vastu Shanti
        Nava Graha Shanti
        Mundan Sanskar (first haircut)
        Our services cover all these rituals to ensure peace and positivity in your home.We provide highly qualified and experienced pandits for various communities across India, including Gujarati, Rajasthani, Marathi, Sindhi, Bihari, Bengali, and Punjabi traditions. Our pandits understand the cultural nuances and perform rituals accordingly, ensuring every ceremony is authentic and meaningful</p>
    </div>
    <div class="card" >
      <img ngOptimizedImage
      src="assets/homeImages/ganesh.png"
      alt="Description of image"
      loading="lazy">
      <span id="phone-number" class="text-2xl font-bold text-black pt-4 block">
        Call us: 
        <a href="tel:+919555867871" 
           class="text-red-800 hover:text-black hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
          +91 9555867871
        </a>
      </span>  
    </div>
    <div class="card" >
      <h1  class="text-xl font-bold">Namkaran Sanskar (baby naming ceremony)</h1>
      <p>Elevating Your Spiritual Journey
        If you are seeking spiritual growth and peace, we offer pandits for Katha and Jaap who can guide you through spiritual narrations and chanting rituals. Some of the popular services we offer include:Book the Best Pandit in Your City: Convenience at Your Fingertips
        With our platform, you can easily find and book the best pandit in your city for any type of religious or spiritual service. From routine pujas to major life events like weddings, last rites, or Grihpravesh, we ensure that all ceremonies are conducted with precision, care, and respect for tradition.</p>
    </div>
    <div class="card" >
      <img ngOptimizedImage
         src="assets/homeImages/gangaaarti.png"
         alt="Description of image"
         loading="lazy">
         <span id="phone-number" class="text-2xl font-bold text-black pt-4 block">
          Call us: 
          <a href="tel:+919555867871" 
             class="text-red-800 hover:text-black hover:bg-yellow-400 font-bold text-2xl px-2 py-1 rounded transition duration-300">
            +91 9555867871
          </a>
        </span>  
    </div>
    <div class="card" >
      <h1 class="text-xl font-bold">Pandits for All Communities</h1>
      <p>During difficult times, it is important to follow traditional customs. We offer pandits for last rites who will assist you in performing the final rites with dignity and according to Hindu customs.For those looking for an Arya Samaj approach, we provide Arya Samaj pandit service for weddings, pujas, and other rituals. These pandits specialize in ceremonies that adhere to the principles of Arya Samaj, making sure they are conducted with simplicity and spiritual depth.
        ensures that only verified and experienced pandits are listed, giving you peace of mind for your ceremonies. Whether it’s a wedding, Grihpravesh, katha, or last rites, we connect you to the best pandit service in your city.
      </p>
    </div>
  </div>
  